html {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width      : 99%;
  margin     : 0 auto;
  display    : grid;
  place-items: center;
  text-align : center;
}

header h2 {
  width        : max-content;
  color        : crimson;
  border-bottom: 3px solid crimson;
  white-space  : nowrap;
}

/* header end */
main {
  width      : 100%;
  display    : flex;
  flex-flow  : column nowrap;
  align-items: center;
}

.info-container {
  display    : grid;
  place-items: center;
  width      : 90vw;
}

.game-info {
  table-layout   : fixed;
  border-collapse: collapse;
  border-radius  : 10px;
  width          : 100%;
  border         : 2px solid crimson;
}

.game-info td {
  height       : 2em;
  text-align   : center;
  border-bottom: 2px solid crimson;
}

.game-info td:nth-child(2),
.game-info td:nth-child(5) {
  width: 12px;
}

.game-info td:nth-child(3) {
  border-right: 2px solid crimson;
  width       : 10%;
}

.game-info td:nth-child(4) {
  width: 20%;
}

.blocks-container {
  margin-top        : 30px;
  padding           : 1.5em;
  -moz-box-shadow   : 0px 0px 10px 1px #888888;
  -webkit-box-shadow: 0px 0px 10px 1px #888888;
  box-shadow        : 0px 0px 10px 1px #888888;
  border-radius     : 8px;
  width             : max-content;
}

#blocksContainer {
  width                : 100%;
  display              : grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows   : repeat(4, 1fr);
  gap                  : 6px;
  place-items          : center;
}

.block-button {
  user-select       : none;
  border-radius     : 5px;
  background-size   : cover;
  background-repeat : no-repeat;
  width             : 16vw;
  height            : 16vw;
  border            : none;
  font-size         : 3em;
  color             : white;
  -moz-box-shadow   : 0px 0px 5px 2px #aaa;
  -webkit-box-shadow: 0px 0px 5px 2px #aaa;
  box-shadow        : 0px 0px 5px 2px #aaa;
  transition        : opacity 0.25s 0s, transform 0.5s;
}

.options-div {
  width          : 100%;
  margin-top     : 40px;
  display        : flex;
  align-items    : center;
  justify-content: space-evenly;
  flex-flow      : row nowrap;
}

.options-div button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height          : 44px;
  width           : 100px;
  border-radius   : 6px;
  text-align      : center;
  white-space     : nowrap;
  color           : white;
  font-size       : medium;
  background-color: crimson;
  border          : none;
}

svg:active,
button:active {
  transform: scale(1.1);
}

#colorButton {
  width           : 100px;
  height          : 40px;
  border          : 2px solid crimson;
  border-radius   : 6px;
  background-color: white;
}

.popup-container {
  width           : 100vw;
  height          : 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index         : 9999;
  position        : fixed;
  top             : 0;
  left            : 0;
  overflow        : hidden;
  opacity         : 0;
  visibility      : hidden;
  transform       : scale(1.1);
  transition      : visibility 0s ease 0.25s, opacity 0.25s 0s, transform 0.25s;
  display         : grid;
  place-items     : center;
}

.show-popup {
  opacity   : 1;
  visibility: visible;
  transform : scale(1.0);
  transition: visibility 0s ease 0s, opacity 0.25s 0s, transform 0.25s;
}

#themeSelector {
  width                : 80vw;
  height               : 50vh;
  background-color     : white;
  border-radius        : 14px;
  box-shadow           : 2px 2px 5px rgba(0, 0, 0, 0.8);
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows   : repeat(3, 1fr);
  gap                  : 8px;
  place-items          : center;
}

#themeSelector div {
  display    : grid;
  place-items: center;
  font-size  : small;
  white-space: nowrap;
}

.theme-pic {
  width            : 64px;
  height           : 64px;
  background-size  : contain;
  background-repeat: no-repeat;
  border           : 2px solid crimson;
  border-radius    : 5px;
  margin-bottom    : 5px;
}

.social-div-parent {
  width          : 99%;
  margin         : 0 auto;
  margin-top     : 30px;
  display        : flex;
  flex-flow      : row nowrap;
  align-items    : center;
  justify-content: space-around;
}

#productHunt>a>img {
  width: 80%;
}

.social-div {
  display  : flex;
  flex-flow: row nowrap;
}

.social {
  width : 36px;
  height: 36px;
}

input,
button {
  outline: none;
}

#toast {
  width           : 60vw;
  height          : 30vh;
  background-color: crimson;
  border-radius   : 10px;
  display         : grid;
  place-items     : center;
  text-align      : center;
  color           : white;
  font-size       : large;
}

@media screen and (min-width: 40em) {
  heading {
    position: relative;
  }

  .info-container {
    width: 70vw;
  }

  #toast {
    width : 30vw;
    height: 30vh;
  }

  .social-div-parent {
    position       : absolute;
    top            : -10px;
    right          : -10px;
    justify-content: space-between;
  }

  .social {
    margin-right: 10px;
  }

  #blocksContainer {
    width: 50%;
    gap  : 10px;
  }

  .block-button {
    width : 10vw;
    height: 10vw;
  }

  #themeSelector {
    width : 60vw;
    height: 60vh;
  }

  #themeSelector div {
    font-size: medium;
  }

  .theme-pic {
    width : 76px;
    height: 76px;
  }
}

@media screen and (min-width: 70em) {
  .social-div-parent {
    top            : 0px;
    right          : 0px;
    justify-content: space-around;
  }

  .info-container {
    width: 55vw;
  }

  #blocksContainer {
    width: 40%;
  }

  .block-button {
    width : 108px;
    height: 108px;
  }
}