html {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width      : 99%;
  margin     : 0 auto;
  display    : grid;
  place-items: center;
  text-align : center;
}

header h2 {
  width        : max-content;
  color        : crimson;
  border-bottom: 3px solid crimson;
  white-space  : nowrap;
}

/* header end */
main {
  width      : 100%;
  padding-top: 20px;
}

.game-info {
  width          : 100%;
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
  padding-bottom : 40px;
}

.blocks-container {
  width          : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

#blocksContainer {
  display              : grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows   : repeat(4, 1fr);
  gap                  : 6px;
  place-items          : center;
}

.block-button {
  user-select      : none;
  border-radius    : 5px;
  background-size  : cover;
  background-repeat: no-repeat;
  width            : 16vw;
  height           : 16vw;
  border           : none;
  font-size        : 3em;
  color            : white;
}

.options-div {
  width          : 100%;
  margin-top     : 40px;
  display        : flex;
  align-items    : center;
  justify-content: space-evenly;
  flex-flow      : row nowrap;
}

.options-div button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height          : 44px;
  width           : 100px;
  border-radius   : 6px;
  text-align      : center;
  white-space     : nowrap;
  color           : white;
  font-size       : medium;
  background-color: crimson;
  border          : none;
}

svg:active,
button:active {
  transform: scale(1.1);
}

#colorButton {
  width           : 100px;
  height          : 40px;
  border          : 2px solid crimson;
  border-radius   : 6px;
  background-color: white;
}

.popup-container {
  width           : 100vw;
  height          : 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index         : 9999;
  position        : fixed;
  top             : 0;
  left            : 0;
  overflow        : hidden;
  opacity         : 0;
  visibility      : hidden;
  transform       : scale(1.1);
  transition      : visibility 0s ease 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-popup {
  opacity   : 1;
  visibility: visible;
  transform : scale(1.0);
  transition: visibility 0s ease 0s, opacity 0.25s 0s, transform 0.25s;
}

#themeSelector {
  position             : absolute;
  top                  : 50%;
  left                 : 50%;
  transform            : translate(-50%, -50%);
  width                : 75vw;
  height               : 50vh;
  background-color     : white;
  border-radius        : 14px;
  box-shadow           : 2px 2px 5px rgba(0, 0, 0, 0.8);
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows   : repeat(3, 1fr);
  gap                  : 8px;
  place-items          : center;
}

#themeSelector div {
  display    : grid;
  place-items: center;
  font-size  : 1em;
  white-space: nowrap;
}

.theme-pic {
  width            : 64px;
  height           : 64px;
  background-size  : contain;
  background-repeat: no-repeat;
  border           : 2px solid crimson;
  border-radius    : 5px;
  margin-bottom    : 5px;
}

.social-div-parent {
  width     : 99%;
  margin    : 0 auto;
  margin-top: 30px;
  display   : flex;
  flex-flow : row nowrap;

  align-items    : center;
  justify-content: space-around;
}

#productHunt>a>img {
  width: 100%;
}

.social-div {
  display  : flex;
  flex-flow: row nowrap;
}

.social {
  width : 48px;
  height: 48px;
}

input,
button {
  outline: none;
}

@media screen and (min-width: 876px) {
  .blocks-container {
    width                : 60vw;
    grid-template-columns: repeat(5, 10vw);
    grid-template-rows   : repeat(4, 10vw);
    gap                  : 1vw;
  }

  .block-button {
    width : 10vw;
    height: 10vw;
  }

  .options-div button {
    width: 156px;
  }

  #colorButton {
    width: 148px;
  }

  .themes-div {
    width          : 80%;
    justify-content: space-around;
  }

  .themes-div div {
    margin: 2% 0px;
  }

  .theme-pic {
    width : 72px;
    height: 72px;
  }
}

@media screen and (min-width: 45em) {
  body {
    width           : auto;
    margin          : none;
    background-color: aqua;
  }

  .blocks-container {
    width                : 50vw;
    grid-template-columns: repeat(5, 8vw);
    grid-template-rows   : repeat(4, 8vw);
    gap                  : 1vw;
  }

  .block-button {
    width : 8vw;
    height: 8vw;
  }
}