body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: auto;
}

header h2 {
    margin: 5% auto;
    width: max-content;
    color: crimson;
    border-bottom: 3px solid crimson;
}

/* header end */
main {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks-container {
    margin-top: 10%;
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 16vw);
    grid-template-rows: repeat(4, 16vw);
    gap: 1vw;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.block-button {
    user-select: none;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16vw;
    height: 16vw;
    border: 1px solid black;
    font-size: xxx-large;
    color: white;
}

footer {
    margin: 0 auto;
    width: 90vw;
    margin-top: 24px;
}

.options-div {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.options-div button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 36px;
    width: 88px;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
}

#colorButton {
    border: 1px;
    width: 74px;
    height: 32px;
    border: 2px solid black;
    border-radius: 10px;
}

.themes-div {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: auto hidden;
    width: 100%;
    margin: 10px auto;
    visibility: hidden;
}

.themes-div div {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    font-size: 0.8em;
    white-space: nowrap;
}

.theme-pic {
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0px;
    margin-bottom: 6px;
}

input,
button {
    outline: none;
}

@media screen and (min-width:800px) {
    .blocks-container {
        width: 60vw;
        grid-template-columns: repeat(5, 10vw);
        grid-template-rows: repeat(4, 10vw);
        gap: 1vw;
    }

    .block-button {
        width: 10vw;
        height: 10vw;
    }

    .options-div button {
        width: 20%;
    }

    .theme-pic {
        width: 36px;
        height: 36px;
    }
}